.inscription,
.connexion {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  min-width: 450px;
  margin-top: var(--espace-xxxl);

  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.heading-form {
  margin-bottom: 16px;
}

label {
  margin-bottom: var(--espace-xs);
}

input {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: var(--espace-xxs);
  margin-top: var(--espace-xs);
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
